<div class="main">
<link src="__PUBLIC__/MyStyle/Encyclopedias/EncyclopediasForm.css">
    <div class="row">
        <div class="col-lg-12">
            <!--<h3 class="page-header"><i class="fa fa-laptop"></i> 主页</h3>-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{:U('Login/Home')}">主页</a></li>
                <li><i class="fa fa-trophy"></i>百科管理</li>
                <li><i class="fa fa-location-arrow"></i>新增百科</li>
            </ol>
        </div>
    </div>

    <if condition="$num eq 1"> <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Success!</strong> 问答题目提交成功!
    </div><script type="text/javascript">
        location:reload();
    </script>
        <elseif condition="$num eq 2"/><div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> 问答题目提交失败!
        </div>
        <elseif condition="$num eq 3"/><div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Help!</strong> 网络中断了,尝试一下重新提交吧!
        </div>
        <elseif condition="$num eq 4"/><div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Warning!</h4>
            <p>请重新打开页面,不能重复提交数据哦~</p>
        </div>
        <else />
    </if>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>新增百科</strong></h2>
            </div>
            <div class="panel-body">
                <form action="__URL__/AddNewEncyclopedias" method="post" enctype="multipart/form-data" class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="text-input">标题：</label>
                        <div class="col-md-3">
                            <?php $_SESSION['code']=mt_rand(1,1000);?>
                            <input type="hidden" name="scode" value="<?php echo $_SESSION['code']?>" />
                            <input type="text" id="text-input" name="title" class="form-control" placeholder="输入标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email-input">作者ID：</label>
                        <div class="col-md-1">
                            <input type="email" id="email-input" name="author_id" class="form-control" value="1" readonly="readonly">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-md-3 control-label" for="disabled-input">奖励金额数量：</label>
                        <div class="col-md-1">
                            <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="不支持" readonly="readonly">
        
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">标签自定义：</label>
                        <div class="col-md-9">
                            <input type="text" style="width:250px;height:40px;border:none;border:2px solid #eee;border-radius:4px;font-size:12px;outline: none;"  name="tags" placeholder=" 多个标签使用英文逗号隔开">
                            <span style="color:red">参考：耳朵，眼睛，皮毛，肩高，肠胃，鼻子，嘴巴，四肢，体形，排泄</span>
                        </div>
                    </div>

            
                    <div class="form-group">
                        <label class="col-md-3 control-label">图片:</label>
                        <div class="col-md-9">
                                <ul>
                                    <li class="t" id="tt1">
                                        <input type="file" name="img1">
                                        <span style="margin-left: 21%" id="t1"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again1">再来一张</button></span>
                                    </li>

                                    <li class="t" style="display: none" id="tt2">
                                        <input type="file" name="img2">
                                        <span style="margin-left: 21%" id="t2"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again2">再来一张</button></span>
                                    </li>

                                    <li class="t" style="display: none" id="tt3">
                                        <input type="file" name="img3">
                                        <!--<span style="margin-left: 21%" id="t3"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again3">再来一张</button></span>-->
                                    </li>

                                    <!--<li class="t" style="display: none" id="tt4">-->
                                        <!--<input type="file" name="img4">-->
                                        <!--<span style="margin-left: 21%" id="t4"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again4">再来一张</button></span>-->
                                    <!--</li>-->

                                    <!--<li class="t" style="display: none" id="tt5">-->
                                        <!--<input type="file" name="img5">-->
                                    <!--</li>-->
                                </ul>
                        </div>
                        <!--<div style="margin-left: 38%">-->
                        <!--<button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again">再来一张</button>-->
                        <!--</div>-->
                    </div>
                  <!-- <div class="form-group">
                        <label class="col-md-3 control-label" for="file-multiple-input">Multiple File input</label>
                        <div class="col-md-9">
                            <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                        </div>
                    </div> -->
                    <br>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="textarea-input">内容：</label>
                        <div class="col-md-5">
                            <textarea id="textarea-input" name="content" rows="9" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>
        <br>
                    <div style="margin-left: 21%">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>                                   </div>
                </form>
            </div>
            <!--<div class="panel-footer">-->
                <!--<button type="submit" style="margin-left:300px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-success">重置</button>-->
                <!--<button type="reset" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger">提交</button>-->
            <!--</div>-->
        </div>
    </div>

</div>
<script>
    $("#again1").click(function () {
        $("#t1").hide();
        $("#tt2").slideDown();
    });

    $("#again2").click(function () {
        $("#t1").hide();
        $("#t2").hide();
        $("#tt3").slideDown();
    });

//    $("#again3").click(function () {
//        $("#t1").hide();
//        $("#t2").hide();
//        $("#t3").hide();
//        $("#tt4").slideDown();
//    });
//
//    $("#again4").click(function () {
//        $("#t1").hide();
//        $("#t2").hide();
//        $("#t3").hide();
//        $("#t4").hide();
//        $("#tt5").slideDown();
//    });
</script>