<div class="main">

    <div class="row">
        <div class="col-lg-12">
            <!--<h3 class="page-header"><i class="fa fa-laptop"></i> 主页</h3>-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{:U('Login/Home')}">主页</a></li>
                <li><i class="fa fa-trophy"></i>商户管理</li>
                <li><i class="fa fa-location-arrow"></i>店铺审核</li>
                <li><i class="fa fa-paperclip"></i>审核信息</li>
            </ol>
        </div>
    </div>

    <div id="tip"></div>

    <if condition="$num eq 1"> <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Success!</strong> 操作执行成功!
    </div><script type="text/javascript">
        location:reload();
    </script>
        <elseif condition="$num eq 2"/><div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> 操作执行失败!
        </div>
        <elseif condition="$num eq 3"/><div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Help!</strong> 网络中断了,尝试一下重新提交吧!
        </div>
        <elseif condition="$num eq 4"/><div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Warning!</h4>
            <p>请重新打开页面,不能重复提交数据哦~</p>
        </div>
        <else />
    </if>



    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>审核信息</strong></h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <br><br>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="in_city">所在城市</label>
                        <div class="col-md-2">
                            <input type="hidden" name="s_id" id="s_id" value="{$data.s_id}"/>
                            <input type="text" id="in_city" name="in_city" class="form-control" value="{$data.in_city}" readonly = "readonly">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="position">位置</label>
                        <div class="col-md-2">
                            <input type="text" id="position" name="position" class="form-control" value="{$data.position}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="detailed_address">详细位置</label>
                        <div class="col-md-2">
                            <input type="text" id="detailed_address" name="detailed_address" class="form-control" value="{$data.detailed_address}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="merchant_name">商户名称</label>
                        <div class="col-md-2">
                            <input type="text" id="merchant_name" name="merchant_name" class="form-control" value="{$data.merchant_name}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="merchant_type">商店类型</label>
                        <div class="col-md-2">
                            <input type="text" id="merchant_type" name="merchant_type" class="form-control" value="{$data.merchant_type}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="scope">经营范围</label>
                        <div class="col-md-2">
                            <input type="text" id="scope" name="scope" class="form-control" value="{$data.scope}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="shopkeeper">店铺联系人</label>
                        <div class="col-md-2">
                            <input type="text" id="shopkeeper" name="shopkeeper" class="form-control" value="{$data.shopkeeper}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="phone">联系电话</label>
                        <div class="col-md-2">
                            <input type="text" id="phone" name="phone" class="form-control" value="{$data.phone}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="tel">客服电话</label>
                        <div class="col-md-2">
                            <input type="text" id="tel" name="tel" class="form-control" value="{$data.tel}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="front">店铺门脸图</label>
                        <div class="col-md-2">
                            <img class="img-thumbnail" id="front" src="{$data.front}" alt="加载失败" height="200px;" width="200px;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">店铺环境图</label>
                        <div class="col-md-2 shop_image">

                            <table class="img-table">
                                <tr>
                                    <td><img class="img-thumbnail" id="shop_image_one" src="{$data.shop_image_one}" alt="加载失败" height="200px;" width="200px;"></td>
                                    <td><img class="img-thumbnail" id="shop_image_two" src="{$data.shop_image_two}" alt="加载失败" height="200px;" width="200px;"></td>
                                    <td><img class="img-thumbnail" id="shop_image_three" src="{$data.shop_image_three}" alt="加载失败" height="200px;" width="200px;"></td>
                                    <td><img class="img-thumbnail" id="shop_image_four" src="{$data.shop_image_four}" alt="加载失败" height="200px;" width="200px;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="business_num">营业执照号码</label>
                        <div class="col-md-2">
                            <input type="text" id="business_num" name="business_num" class="form-control" value="{$data.business_num}" readonly = "readonly">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" for="license_one">营业执照</label>
                        <div class="col-md-2">
                            <img class="img-thumbnail" id="license_one" src="{$data.license_one}" alt="加载失败" height="200px;" width="200px;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="id_card">身份证号码</label>
                        <div class="col-md-2">
                            <input type="text" id="id_card" name="id_card" class="form-control" value="{$data.id_card}" readonly = "readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="id_card_img">身份证图片</label>
                        <div class="col-md-2">
                            <img class="img-thumbnail" id="id_card_img" src="{$data.id_card_img}" alt="加载失败" height="200px;" width="200px;">
                        </div>
                    </div>


                    <div class="form-group" style="display: none" id="reg">
                        <label class="col-md-3 control-label">拒绝原因</label>
                        <div class="col-md-9">
                            <textarea name="failure_reason" id="failure_reason" rows="9" class="form-control" placeholder="请输入回复信息"></textarea>
                        </div>

                        <!--<button type="button" class="btn btn-sm btn-success" style="float: right; margin-top: 15px;"><i class="fa fa-dot-circle-o"></i> 确定</button>-->
                    </div>

                    <br>
                    <div style="margin-left: 27%">
                        <button type="button" class="btn btn-sm btn-success" onclick="ok();"><i class="fa fa-dot-circle-o"></i> 通过</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-sm btn-danger" onclick="AlertTip();"><i class="fa fa-ban"></i> 拒绝</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script>
        function ok() {
            var s_id = $.trim($("#s_id").val());
            mizhu.confirm('温馨提醒', '确定要通过这条信息吗？', function() {
                $.get(
                        "__URL__/ShopOk/s_id/"+s_id,
                        function(data,status){
                            if(status=='success'){
                                if(data.code==200){
                                    mizhu.toast(data.msg);
                                    history.go(0);
                                }else{
                                    mizhu.toast(data.msg);
                                }
                            }
                        },'json'
                );
            });
        }
        
        
        function AlertTip() {
            $("#reg").dialog({
                buttons : {
                    '提交' : function () {
                        var failure_reason = $.trim($("#failure_reason").val());
                        var s_id = $.trim($("#s_id").val());
                        if(failure_reason.length<=0){
                            mizhu.toast("请输入拒绝原因");
                            return false;
                        }

                        $.get(
                                "__URL__/ShopNo/s_id/"+s_id+"/failure_reason/"+failure_reason,
                                function(data,status){
                                    if(status=='success'){
                                        if(data.code==200){
                                            mizhu.toast(data.msg);
                                            history.go(0);
                                        }else{
                                            mizhu.toast(data.msg);
                                            history.go(0);
                                        }
                                    }
                                },'json'
                        );


                    },
                    '取消' : function () {
                        $(this).dialog('close');
                    }
                },
                width:500,
                height:210,
                show : 'puff',
                hide : 'puff',
                closeText : '关闭'
            }
            );
        }
    </script>

</div>