<div class="main">

    <div class="row">
        <div class="col-lg-12">
            <!--<h3 class="page-header"><i class="fa fa-laptop"></i> 主页</h3>-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{:U('Login/Home')}">主页</a></li>
                <li><i class="fa fa-trophy"></i>首页管理</li>
                <li><i class="fa fa-location-arrow"></i>闪屏详情</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" data-original-title>
                    <h2><i class="fa fa-picture-o red"></i><strong>闪屏详情</strong></h2>
                    <div class="panel-actions">
                        <a href="javascript:void(0);" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="javascript:void(0);" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <foreach name="data" item="vo">
                            <div style="margin-bottom:10px" class="col-md-4">
                                <a href="javascript:void(0);"  onclick="ScreenDel({$vo.id})"><i class="fa fa-trash-o"></i></a>
                                <img class="img-thumbnail" src="{$vo.img}" alt="Sample Image">
                            </div>
                        </foreach>
                    </div>
                </div>
            </div><!--/col-->
        </div><!--/col-->

    </div><!--/row-->

    <script>
        function ScreenDel(ID) {

            mizhu.confirm('温馨提醒', '确定要删除吗？', function() {
                $.get("__URL__/ScreenIdDel/id/" + ID,
                        function (data, status) {
                            if (status = 'success') {
                                if (data.code == 200) {
                                    mizhu.toast(data.msg);
                                    history.go(0)
                                } else {
                                    mizhu.toast(data.msg);
                                }
                            } else {
                                alert('网络开小差了，请重新提交操作!');
                                history.go(0)
                            }
                        }, 'json'
                );
            });
        }
    </script>


</div>