<div class="main">

    <div class="row">
        <div class="col-lg-12">
            <!--<h3 class="page-header"><i class="fa fa-laptop"></i> 主页</h3>-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{:U('Login/Home')}">主页</a></li>
                <li><i class="fa fa-trophy"></i>宠物管理</li>
                <li><i class="fa fa-location-arrow"></i>新增品种</li>
            </ol>
        </div>
    </div>

    <div id="tip"></div>


    <if condition="$num eq 1"> <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Success!</strong> 操作执行成功!
    </div><script type="text/javascript">
        location:reload();
    </script>
        <elseif condition="$num eq 2"/><div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> 操作执行失败!
        </div>
        <elseif condition="$num eq 3"/><div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Help!</strong> 网络中断了,尝试一下重新提交吧!
        </div>
        <elseif condition="$num eq 4"/><div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Warning!</h4>
            <p>请重新打开页面,不能重复提交数据哦~</p>
        </div>
        <else />
    </if>



    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>新增品种</strong></h2>
            </div>
            <div class="panel-body">
                <form action="__URL__/AddNewCate" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return PetSub()">
                    <br><br>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="cate_name">品种名称</label>
                        <div class="col-md-2">
                            <?php $_SESSION['code']=mt_rand(1,1000);?>
                            <input type="hidden" name="scode" value="<?php echo $_SESSION['code']?>" />
                            <input type="text" id="cate_name" name="cate_name" class="form-control" placeholder="请输入品种名称">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">宠物类型</label>
                        <div class="col-md-9">
                            <label class="radio-inline" for="inline-radio1">
                                <input type="radio" id="inline-radio1" name="variety_id" value="1"> 狗
                            </label>
                            <label class="radio-inline" for="inline-radio2">
                                <input type="radio" id="inline-radio2" name="variety_id" value="2"> 猫
                            </label>
                            <label class="radio-inline" for="inline-radio3">
                                <input type="radio" id="inline-radio3" name="variety_id" value="3"> 鼠
                            </label>
                            <label class="radio-inline" for="inline-radio4">
                                <input type="radio" id="inline-radio4" name="variety_id" value="4"> 其它
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="alias_name">别名</label>
                        <div class="col-md-2">
                            <input type="text" id="alias_name" name="alias_name" class="form-control" placeholder="请输入别名">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="alias_jx">别名缩写</label>
                        <div class="col-md-2">
                            <input type="text" id="alias_jx" name="alias_jx" class="form-control" placeholder="请输入别名缩写">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="py">全拼</label>
                        <div class="col-md-2">
                            <input type="text" id="py" name="py" class="form-control" placeholder="请输入全拼">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="jx">简写</label>
                        <div class="col-md-2">
                            <input type="text" id="jx" name="jx" class="form-control" placeholder="请输入简写">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="aleph">首字母</label>
                        <div class="col-md-2">
                            <input type="text" id="aleph" name="aleph" class="form-control" placeholder="请输入首字母">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">品种图</label>
                        <div class="col-md-9">
                            <!--<input type="file" id="img" name="img">-->

                            <div class="fileInput left" style="width:102px;height:34px; background:url(__PUBLIC__/Images/upFileBtn.png);overflow:hidden;position:relative;">
                                <input type="file" name="img" id="upfile" class="upfile" onchange="document.getElementById('upfileResult').innerHTML=this.value" style="position:absolute;top:-100px;"/>
                                <input class="upFileBtn" type="button" value="上传图片" onclick="document.getElementById('upfile').click()" style="width:102px;height:34px;opacity:0;filter:alpha(opacity=0);cursor:pointer;" />
                            </div>
                            <span class="tip left" id="upfileResult">图片大小">图片大小不超过2M,支持jpg、png、bmp等格式。</span>


                        </div>
                    </div>
                    <br>
                    <div style="margin-left: 21%">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<script>
    function PetSub() {
        var cate_name = $.trim($("#cate_name").val()); //名称
        var variety_id = $('input[name="variety_id"]:checked').val(); //类型
        // var alias_name = $.trim($("#alias_name").val());//别名
        // var alias_jx = $.trim($("#alias_jx").val());//别名缩写
        var py = $.trim($("#py").val());//全拼
        var jx = $.trim($("#jx").val());//简写
        var aleph = $.trim($("#aleph").val());//首字母

        if(cate_name.length<=0){
            $("#tip").empty();
            $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入品种名称!</div>');
            return false;
        }

        // if(alias_name.length<=0){
        //     $("#tip").empty();
        //     $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入别名!</div>');
        //     return false;
        // }

        // if(alias_jx.length<=0){
        //     $("#tip").empty();
        //     $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入别名缩写!</div>');
        //     return false;
        // }

        if(py.length<=0){
            $("#tip").empty();
            $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入全拼!</div>');
            return false;
        }

        if(jx.length<=0){
            $("#tip").empty();
            $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入简写!</div>');
            return false;
        }

        if(aleph.length<=0){
            $("#tip").empty();
            $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入首字母!</div>');
            return false;
        }

        return true;


    }
</script>