<div class="main">

    <div class="row">
        <div class="col-lg-12">
            <!--<h3 class="page-header"><i class="fa fa-laptop"></i> 主页</h3>-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{:U('Login/Home')}">主页</a></li>
                <li><i class="fa fa-trophy"></i>趣闻管理</li>
                <li><i class="fa fa-location-arrow"></i>趣闻详情</li>
                <li><i class="fa fa-paperclip"></i>修改信息</li>

            </ol>
        </div>
    </div>
    <div id="tip"></div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>修改信息</strong></h2>
            </div>
            <div class="panel-body">
                <form action="__URL__/EditJournalism" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <br><br>
                    <div class="form-group">
                        <label class="col-md-3 control-label">标题：</label>
                        <div class="col-md-3">
                            <input type="hidden" id="jid" name="jid" value="{$data.jid}">
                            <input type="text" id="title" name="title" class="form-control" value="{$data.title}">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">作者：</label>
                        <div class="col-md-2">
                            <input type="text" id="author" name="author" class="form-control" value="{$data.author}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">编辑：</label>
                        <div class="col-md-2">
                            <input type="text" id="editer" name="editer" class="form-control" value="{$data.editer}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">标签：</label>
                        <div class="col-md-9">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="视频" <?php
						if(in_array("视频",explode(",",$data['tags']))){
							echo "checked";
						}
					?>> 视频
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="科普" <?php
						if(in_array("科普",explode(",",$data['tags']))){
							echo "checked";
						}
					?>> 科普
                            </label>
                            <label class="checkbox-inline" >
                                <input type="checkbox" name="tag[]" value="搞笑" <?php
						if(in_array("搞笑",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  搞笑
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="汪星人" <?php
						if(in_array("汪星人",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  汪星人
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="喵星人" <?php
						if(in_array("喵星人",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>   喵星人
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="小宠" <?php
						if(in_array("小宠",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  小宠
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="大事件" <?php
						if(in_array("大事件",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  大事件
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="生活" <?php
						if(in_array("生活",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  生活
                            </label>
                            <label class="checkbox-inline" >
                                <input type="checkbox" name="tag[]" value="社会" <?php
						if(in_array("社会",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  社会
                            </label>
                            <label class="checkbox-inline" >
                                <input type="checkbox" name="tag[]" value="名人" <?php
						if(in_array("名人",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>   名人
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="感人" <?php
						if(in_array("感人",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  感人
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="tag[]" value="另类" <?php
						if(in_array("另类",explode(",",$data['tags']))){
							echo "checked";
						}
					?>>  另类
                            </label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">来源：</label>
                        <div class="col-md-2">
                            <input type="text" id="froms" name="froms" class="form-control" value="{$data.froms}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">类型：</label>
                        <div class="col-md-9">
                            <label class="radio-inline" for="inline-radio1">
                                <input type="radio" id="inline-radio1" name="introduction" value="1" <?php
								if($data['introduction']==1){
									echo 'checked';
								}
							?> /> 单图
                            </label>
                            <label class="radio-inline" for="inline-radio2">
                                <input type="radio" id="inline-radio2" name="introduction" value="2" <?php
								if($data['introduction']==2){
									echo 'checked';
								}
							?> /> 多图
                            </label>
                            <label class="radio-inline" for="inline-radio3">
                                <input type="radio" id="inline-radio3" name="introduction" value="3" <?php
								if($data['introduction']==3){
									echo 'checked';
								}
							?> /> 视频
                            </label>
                            <label class="radio-inline" for="inline-radio4">
                                <input type="radio" id="inline-radio4" name="introduction" value="4" <?php
								if($data['introduction']==4){
									echo 'checked';
								}
							?> /> 无图
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">视频地址：</label>
                        <div class="col-md-5">
                            <input type="text" id="video_url" name="video_url" class="form-control" placeholder="{$data.video}">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-md-3 control-label">导图:</label>
                        <div class="col-md-9">
                            <ul>
                                <li style="list-style-type:none;">
                                    <img src="{$data.img1}" class="img-thumbnail" alt="暂无图片" width="100px" height="100px;">
                                    <img src="{$data.img2}" class="img-thumbnail" alt="暂无图片" width="100px" height="100px;">
                                    <img src="{$data.img3}" class="img-thumbnail" alt="暂无图片" width="100px" height="100px;">
                                </li>
                                <li class="t" id="tt1">
                                    <input type="file" name="img1">
                                    <input type="hidden" name="pic1" value="{$data.img1}">
                                    <span style="margin-left: 21%" id="t1"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again1">再来一张</button></span>
                                </li>

                                <li class="t" style="display: none" id="tt2">
                                    <input type="file" name="img2">
                                    <input type="hidden" name="pic2" value="{$data.img2}">
                                    <span style="margin-left: 21%" id="t2"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again2">再来一张</button></span>
                                </li>

                                <li class="t" style="display: none" id="tt3">
                                    <input type="file" name="img3">
                                    <input type="hidden" name="pic3" value="{$data.img3}">
                                    <!--<span style="margin-left: 21%" id="t3"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again3">再来一张</button></span>-->
                                </li>

                                <!--<li class="t" style="display: none" id="tt4">-->
                                <!--<input type="file" name="img4">-->
                                <!--<span style="margin-left: 21%" id="t4"><button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again4">再来一张</button></span>-->
                                <!--</li>-->

                                <!--<li class="t" style="display: none" id="tt5">-->
                                <!--<input type="file" name="img5">-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <!--<div style="margin-left: 38%">-->
                        <!--<button type="button" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger" id="again">再来一张</button>-->
                        <!--</div>-->
                    </div>



                    <div class="form-group" <?php if($data['dm']==null){ echo "style='display:none'";}?>>
                        <label class="col-md-3 control-label">内容：</label>
                        <div class="col-md-8">
                            <!-- 加载编辑器的容器 -->
                            <script id="container" name="content" type="text/plain">{$data.dm}</script>
                            <!-- 配置文件 -->
                            <script type="text/javascript" src="__PUBLIC__/TextareaStyle/ueditor.config.js"></script>
                            <!-- 编辑器源码文件 -->
                            <script type="text/javascript" src="__PUBLIC__/TextareaStyle/ueditor.all.js"></script>
                            <!-- 实例化编辑器 -->
                            <script type="text/javascript">
                                var ue = UE.getEditor('container');
                            </script>
                            <br>
                            <br>
                            <span>示例视频代码：<input type="text" id="AnswerTrue" name="AnswerTrue" class="form-control" value='<video src="视频地址" controls="controls">您的浏览器不支持 video 标签。</video>'  readonly = "readonly"></span>

                        </div>

                    </div>

                    <br>
                    <div style="margin-left: 21%">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
                    </div>
                </form>
            </div>
            <!--<div class="panel-footer">-->
            <!--<button type="submit" style="margin-left:300px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-success">重置</button>-->
            <!--<button type="reset" style="margin-left:10px;background:#0072CC;border:none;border-radius:10px;outline: none;" class="btn btn-sm btn-danger">提交</button>-->
            <!--</div>-->
        </div>
    </div>


    <script>
        function JournalismSub() {
            //获取id
            var jid = $("#jid").val();
            //获取标题
            var title = $.trim($("#title").val());
            //获取作者
            var author = $.trim($("#author").val());
            //获取编辑
            var editer = $.trim($("#editer").val());
            //获取标签
            var spCodesTemp = "";
            $('input:checkbox[name="tag"]:checked').each(function(i){
                if(0==i){
                    spCodesTemp = $(this).val();
                }else{
                    spCodesTemp += (","+$(this).val());
                }
            });

            //获取来源
            var froms = $.trim($("#froms").val());

            //获取类型
            var introduction = $('input:radio[name="introduction"]:checked').val();

            //获取文本编辑器的内容
            var ue = UE.getEditor('container');
            var content = ue.getContent();

            //验证
            if(title.length<=0){
                $("#tip").empty();
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入标题!</div>');
                return false;
            }

            if(author.length<=0){
                $("#tip").empty();
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入作者!</div>');
                return false;
            }

            if(editer.length<=0){
                $("#tip").empty();
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入编辑!</div>');
                return false;
            }

            if(froms.length<=0){
                $("#tip").empty();
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 请输入编辑!</div>');
                return false;
            }

            //提交
            $.post("__URL__/EditJournalism",
                    {
                        jid:jid,
                        title:title,
                        author:author,
                        editer:editer,
                        tag:spCodesTemp,
                        froms:froms,
                        introduction:introduction,
                        content:content

                    },
                    function(data,status){
                        if(status=='success'){
                            if(data.code==200){
                                $("#tip").empty();
                                $("#tip").append('<div class="alert alert-success"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Success!</strong> '+data.msg+'</div>');
                                return true;
                            }else{
                                $("#tip").empty();
                                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> '+data.msg+'</div>');
                                return false;
                            }
                        }else{
                            $("#tip").empty();
                            $("#tip").append('<div class="alert alert-info"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Help!</strong> 网络中断了,尝试一下重新提交吧! </div>');
                            return false;
                        }
                    },'json'
            );


        }
    </script>


<script>
    $("#again1").click(function () {
        $("#t1").hide();
        $("#tt2").slideDown();
    });

    $("#again2").click(function () {
        $("#t1").hide();
        $("#t2").hide();
        $("#tt3").slideDown();
    });

    //    $("#again3").click(function () {
    //        $("#t1").hide();
    //        $("#t2").hide();
    //        $("#t3").hide();
    //        $("#tt4").slideDown();
    //    });
    //
    //    $("#again4").click(function () {
    //        $("#t1").hide();
    //        $("#t2").hide();
    //        $("#t3").hide();
    //        $("#t4").hide();
    //        $("#tt5").slideDown();
    //    });
</script>

</div>