<div class="main">

    <if condition="$num eq 1"> <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Success!</strong> 问答题目提交成功!
    </div><script type="text/javascript">
        location:reload();
    </script>
        <elseif condition="$num eq 2"/><div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> 问答题目提交失败!
        </div>
        <elseif condition="$num eq 3"/><div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Help!</strong> 网络中断了,尝试一下重新提交吧!
        </div>
        <elseif condition="$num eq 4"/><div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Warning!</h4>
            <p>请重新打开页面,不能重复提交数据哦~</p>
        </div>
        <else />
    </if>

    <div class="row">
        <div class="col-lg-12">
            <!--<h3 class="page-header"><i class="fa fa-laptop"></i> 主页</h3>-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{:U('Login/Home')}">主页</a></li>
                <li><i class="fa fa-trophy"></i>问答管理</li>
                <li><i class="fa fa-location-arrow"></i>问答详情</li>
                <li><i class="fa fa-paperclip"></i>修改信息</li>
            </ol>
        </div>
    </div>
    <div id="tip"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-indent red"></i><strong>修改问答题目信息</strong></h2>
                </div>
                <div class="panel-body">
                    <form enctype="multipart/form-data" class="form-horizontal " action="__URL__/EditQuestionIdInfo" onsubmit="return QuestionSub();" method="post">
                        <br><br>
                        <div class="form-group">
                            <label class="col-md-3 control-label">问答图片</label>
                            <div class="col-md-9">
                                <img class="img-thumbnail" src="<?php echo $data['img'];?>" alt="Sample Image" width="80px" height="80px;">
                                <input type="hidden" name="oldImg" id="oldImg" value="<?php echo $data['img'];?>">
                                <!--<input type="file" name="file" id="file">-->


                                <div class="fileInput left" style="width:102px;height:34px; background:url(__PUBLIC__/Images/upFileBtn.png);overflow:hidden;position:relative;">
                                    <input type="file" name="upfile" id="upfile" class="upfile" onchange="document.getElementById('upfileResult').innerHTML=this.value" style="position:absolute;top:-100px;"/>
                                    <input class="upFileBtn" type="button" value="上传图片" onclick="document.getElementById('upfile').click()" style="width:102px;height:34px;opacity:0;filter:alpha(opacity=0);cursor:pointer;" />
                                </div>
                                <span class="tip left" id="upfileResult">图片大小">图片大小不超过2M,支持jpg、png、bmp等格式。</span>



                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="question">问答题目</label>
                            <div class="col-md-3">
                                <?php $_SESSION['code']=mt_rand(1,1000);?>
                                <input type="hidden" name="scode" value="<?php echo $_SESSION['code']?>" />
                                <input type="text" id="question" name="question" class="form-control" value="<?php echo $data['problem'];?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="top">上</label>
                            <div class="col-md-3">
                                <input type="text" id="top" name="top" class="form-control" value="<?php echo $data['answer_one'];?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="down">下</label>
                            <div class="col-md-3">
                                <input type="text" id="down" name="down" class="form-control" value="<?php echo $data['answer_two'];?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="left">左</label>
                            <div class="col-md-3">
                                <input type="text" id="left" name="left" class="form-control" value="<?php echo $data['answer_three'];?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="right">右</label>
                            <div class="col-md-3">
                                <input type="text" id="right" name="right" class="form-control" value="<?php echo $data['answer_four'];?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="AnswerTrue">正确答案</label>
                            <div class="col-md-3">
                                <input type="hidden" name="id" id="id" value="<?php echo $data['id'];?>"/>
                                <input type="text" id="AnswerTrue" name="AnswerTrue" class="form-control" value="<?php echo $data['answer_true'];?>"  readonly = "readonly">
                                <span class="help-block">
                                    <button type="button" class="btn btn-info" id="ClickTop">上</button>
                                    <button type="button" class="btn btn-info" id="ClickDown">下</button>
                                    <button type="button" class="btn btn-info" id="ClickLeft">左</button>
                                    <button type="button" class="btn btn-info" id="ClickRight">右</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="fraction">奖励分数</label>
                            <div class="col-md-1">
                                <input type="text" id="fraction" name="fraction" class="form-control" value="<?php echo $data['fraction'];?>">
                            </div>
                        </div>
                        <br>
                        <div style="margin-left: 21%;">
                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div><!--/.row-->

    <script>

        function QuestionSub() {
            //文本
            var question = $.trim($("#question").val());
            var top = $.trim($("#top").val());
            var down = $.trim($("#down").val());
            var left = $.trim($("#left").val());
            var right = $.trim($("#right").val());
            var AnswerTrue = $.trim($("#AnswerTrue").val());
            var fraction = $.trim($("#fraction").val());

            if(question.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 问答题目不能为空!</div>');
                return false;
            }

            if(top.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 答案项填写不完整!</div>');
                return false;
            }

            if(down.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 答案项填写不完整!</div>');
                return false;
            }

            if(left.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 答案项填写不完整!</div>');
                return false;
            }
            if(right.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 答案项填写不完整!</div>');
                return false;
            }

            if(AnswerTrue.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 您还没有选择的正确答案!</div>');
                return false;
            }

            if(fraction.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 奖励分数项不能为空!</div>');
                return false;
            }

            var id = $("#id").val();


            return true;

            /*$.post("__URL__/EditQuestionIdInfo",
                {
                    id:id,
                    question:question,
                    top:top,
                    down:down,
                    left:left,
                    right:right,
                    AnswerTrue:AnswerTrue,
                    fraction:fraction,
                    img:file
                },
                function(data,status){
                    if(status=='success'){
                        if(data.code==200){

                            $("#tip").append('<div class="alert alert-success"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Success!</strong> '+data.msg+'</div>');
                            return false;

                        }else if(data.code==201){

                            $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> '+data.msg+'</div>');
                            return false;

                        }else if(data.code==500){

                            $("#tip").append('<div class="alert alert-info"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Help!</strong> '+data.msg+'</div>');
                            return false;

                        }else{

                            $("#tip").append('<div class="alert alert-info"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Help!</strong> '+data.msg+'</div>');
                            return false;

                        }
                    }else{
                        $("#tip").append('<div class="alert alert-info"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Help!</strong> 网络中断了,尝试一下重新提交吧! </div>');
                        return false;
                    }
                },'json'
            );

            return false;*/

        }


        $("#ClickTop").click(function () {
            var val = $("#top").val();
            $("#AnswerTrue").attr("value",val);
        });

        $("#ClickDown").click(function () {
            var val = $("#down").val();
            $("#AnswerTrue").attr("value",val);
        });

        $("#ClickLeft").click(function () {
            var val = $("#left").val();
            $("#AnswerTrue").attr("value",val);
        });

        $("#ClickRight").click(function () {
            var val = $("#right").val();
            $("#AnswerTrue").attr("value",val);
        });
    </script>

</div>