<div class="main">

    <div class="row">
        <div class="col-lg-12">
            <!--<h3 class="page-header"><i class="fa fa-laptop"></i> 主页</h3>-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{:U('Login/Home')}">主页</a></li>
                <li><i class="fa fa-trophy"></i>个推管理</li>
                <li><i class="fa fa-location-arrow"></i>新增个推</li>
            </ol>
        </div>
    </div>

    <div id="tip"></div>

    <if condition="$num eq 1"> <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Success!</strong> 操作执行成功!
    </div><script type="text/javascript">
        location:reload();
    </script>
        <elseif condition="$num eq 2"/><div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> 操作执行失败!
        </div>
        <elseif condition="$num eq 3"/><div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Help!</strong> 网络中断了,尝试一下重新提交吧!
        </div>
        <elseif condition="$num eq 4"/><div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Warning!</h4>
            <p>请重新打开页面,不能重复提交数据哦~</p>
        </div><elseif condition="$num eq 5"/><div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> 未检测到提交的图片文件!
        </div>
        <else />
    </if>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>新增个推</strong></h2>
            </div>
            <div class="panel-body">
                <form action="__URL__/push" method="post" class="form-horizontal " onsubmit="return PushSub();">
                    <br><br>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="content">推送内容</label>
                        <div class="col-md-5">
                            <textarea id="content" name="content" rows="6" class="form-control" placeholder="请输入推送内容"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="url">附加信息</label>
                        <div class="col-md-5">
                            <input type="text" id="url" name="url" class="form-control" placeholder="请输入附加信息">
                        </div>
                    </div>
                    <br>

                    <div style="margin-left: 21%">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script>
        function PushSub() {
            var content = $.trim($("#content").val());
            var url = $.trim($("#url").val());
            if(content.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 推送内容不能为空!</div>');
                return false;
            }

            if(url.length<=0){
                $("#tip").append('<div class="alert alert-danger"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Error!</strong> 附加内容不能为空!</div>');
                return false;
            }

            return true;
        }
    </script>

</div>